.git
.github
.idea
.build
.tooling
node_modules
server/node_modules
server/.runtime
server/config
server/covers
server/sqlite
server/src/public
web/node_modules
web/.quasar
web/dist
kikoeru-*.zip
kikoeru-*.tar.gz
*.log
