// app global css in SCSS form

// a {
//   &:link { text-decoration:none; } // 未访问链接
//   &:visited { text-decoration:none; } // 已访问链接
//   &:hover { text-decoration:underline; } // 鼠标移动到链接上
//   &:active { text-decoration:underline; } // 鼠标点击时
// }

a {
  text-decoration:none;
}

:root {
  --kikoeru-accent-text: var(--kikoeru-accent-text-light);
}

.body--dark {
  --kikoeru-accent-text: var(--kikoeru-accent-text-dark);
}

.bg-primary,
.bg-accent {
  color: var(--kikoeru-on-accent) !important;
}

.q-btn--flat.text-primary,
.q-btn--outline.text-primary {
  color: var(--kikoeru-accent-text) !important;
}

.q-breadcrumbs .text-primary {
  color: var(--kikoeru-accent-text) !important;
}

.plyr .plyr__controls {
  background: none !important;
}
